# Build & Environment Artifacts
bin/
obj/
out/
dist/
node_modules/
.idea/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# Database & Storage
*.sqlite
*.sqlite-shm
*.sqlite-wal
*.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker
.dockerignore
